:root {
    --cor1: #0e1a40;
    --cor2: #222feb;
    --cor3: #5d5d5d;
    --cor4: #946b2d;
    --cor5: #000000;
    --cor6: #24a9e6;
    --cor7: #949494;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

img {
    width: 200px;
    height: auto;
    border-radius: 5px 5px;
    box-shadow: 2px 2px ;
}

/*-------------CABEÇALHO-------------- */
header {
    height: 10%;
    width: 100%;
    background: var(--cor5);
    margin: 0 auto;
    /*border: 1px solid red;*/
    align-items: center;
    display: flex;
    
}

header h1 {
    color: var(--cor2);
    letter-spacing: 2px;
    font-size: 2em;
    cursor: pointer;
}

header div {
    width: 95%;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid red;*/
    padding: 16px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

header ul li {
    font-size: 1.2em;
    border-right: 1px solid rgb(241, 241, 241);
    padding: 0 6px;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor2);
}

header ul li a:hover {
    color: var(--cor6);
    transition: 0.5s;
}
/*-------------CONTAINER-------------- */
.container {
    /*border: 1px solid red;*/
    height: 80%;
    margin: 0 auto;
    background-color: var(--cor3);

}

.container-toplaner {
    width: 100%;
    /*border: 1px solid red;*/
    position: relative;
}

.toplaner-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.laner-title {
    display: flex;
    /*border: 1px solid red;*/
    width: 100%;
    padding: 12px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.laner-title h3{
    text-transform: uppercase;
    color: var(--cor6);
    font-size: 2em;
}

.champion-item {
    flex: 1 1 calc(30% -10px);
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--cor7);
    /*border: 1px solid red;*/
}

.champion-item p {
    color: white;
}

.container-midlaner,
.container-jungler,
.container-adcarry,
.container-support {
    width: 100%;
    /*border: 1px solid red;*/
    position: relative;
}

.midlaner-group,
.jungler-group,
.adcarry-group,
.support-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/*-------------RODAPÉ-------------- */
footer {
    /*border: 1px solid red;*/
    background-color: var(--cor5);
    height: 10%;
    align-items: center;
    /*border: 1px solid pink;*/
}

.footer-container {
    /*border: 1px solid rgb(0, 255, 55);*/
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

.footer-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    /*border: 1px solid white;*/
    width: 60%;
    height: 80%;
}

.footer-container li {
    color: var(--cor2);
    flex-direction: column;
    gap: 12px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 1.5em;
    /*border: 1px solid red;*/
}

.footer-container li a {
    /*border: 1px solid blue;*/
    padding: 6px;
    color: white;
    text-decoration: none;
}

.footer-container h4 {
    text-align: center;
    color: var(--cor2);
    padding: 12px;
    /*border: 1px solid red;*/
    font-size: 2em;
}


i {
    color: white;
    font-size: 2em;
}

.web-developer {
    background-color: var(--cor5);
    display: flex;
    justify-content: center;
}

.web-developer p {
    color: var(--cor2);
    font-size: 0.7em
}
